{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block header %}
    <h2>Edit entry</h2>
{% endblock header %}

{% block content %}
    <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
    <p>Edit entry:</p>

    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="POST" class="form">
    {% csrf_token %}
    

    <textarea name="editor1">{{ entry.text }}</textarea>
    <script>
        CKEDITOR.replace( 'editor1');
    </script>
    
    <input type="submit" value="submit" class="btn btn-primary"/>
    </form>
    

{% endblock content %}