{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% block content %}
<article class="article">
    <div class="article-header">
        <h1 class="header-title">{{ entry.entrytitle }}</h1>
        <p>views：{{ entry.views }}</p>
    </div>

    <div class="article-body"><h3>{{ entry.text }}</h3></div>
    <h4 class="h4fonts">Comments</h4>
    {% for comment in comments %}
    <p  class="comment_p1 h4fonts">{{ comment.owner }} - <small>{{ comment.date_added }}</small></p>
    <p class="comment_p2">{{ comment.text }}</p>
    {% endfor %}
</article>
{% endblock content %}
