{% extends 'learning_logs/base.html' %}
{% block header %}
    <div>
    <h1>Track your learning.</h1>
    </div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
    <h2><a href="{% url 'learning_logs:topics' %}">Chick This</a>  to look over your topics.</h2>
    <h3>Popular Topics</h3>
{% for topic in topics %}
    <h4><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a> (<small>{{ topic.entry_set.all.count}}</small>)</h4>
{% endfor %}
<h3>Popular Entries</h3>
{% for e in entryviews %}
    <h4><a href="{% url 'learning_logs:entry' e.id %}">{{ e.entrytitle }}</a> <small>( views:{{ e.views }} )</small></h4>
{% endfor %}
<div class="related">
	<h3>特别推荐</h3>
	<a href="http://www.htmleaf.com/jQuery/Layout-Interface/201507102200.html">
		<h3>推荐的文章 1</h3>
	</a>
	<a href="http://www.htmleaf.com/jQuery/Menu-Navigation/201507082190.html">
		<h3>推荐的文章 2</h3>
	</a>
</div>

{% else %}
    <h2>
    <a href="{% url 'users:register' %}">Register an accoutn</a> to make
    your own Learning Log, and list the topics you're learning about.
    </h2>
    <h2>
    Whenever you learning something new about a topic, make an entry
    summarizing what you've learned.
    </h2>
{% endif %}


    
{% endblock content %}
