{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% block header %}
    <h2>Add new entry</h2>
{% endblock header %}

{% block content %}
    <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
    <p>Add a new entry:</p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="POST" class="form">
    
    {% csrf_token %}
    <textarea name="editor1"></textarea>
    <script>
        CKEDITOR.replace( 'editor1');
    </script>

    
    <button name="submit" class="btn btn-primary">add entry</button>
    
    </form>
{% endblock content %}