{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% block header %}
    <h1>Topics</h1>
    <h3><button type="button" class="btn btn-default">
            <a href="{% url 'learning_logs:new_topic' %}" class="a2">New topic</a>
        </button></h3>
{% endblock header %}
{% block content %}
    <p></p>
    <ul class="ul1">
    {% for topic in topics %}
        <li>
        <h3>
            <a class="a1" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            <small>( {{ topic.entry_set.all.count }} )</small>
        </h3>
        ------by {{topic.owner}}
        </li>
    {% empty %}
        <li>No topics have been added yet.</li>
    {% endfor %}
    </ul>
    
    

    <div class="related">
        <h3>推荐</h3>
        {% for each in topics_random %}
        <a href="{% url 'learning_logs:topic' each.id %}">
            <h3>{{each.text}}</h3>
        </a>---by {{each.owner}}
        {% endfor %}
    </div>
    
{% endblock %}
