{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% block header %}
    <h2>Topic / {{ topic }}</h2>
{% endblock header %}

{% block content %}
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}"></a>
    </p>
    <ul>

<article class="article">
        {% for entry in entries %}
    <div class="article-header">
        <h2 class="header-title">
            <a href="{% url 'learning_logs:entry' entry.id %}">{{ entry.entrytitle }}</a>
        </h2>
        <div class="header-dateline"><h4>{{ entry.date_added|date:"m/d Y"}}</h4></div>
    </div>
        <div class="article-summary">
            {{ entry.text }}
        </div>
        
    {% empty %}
        There are no entries for this topic yet.
    {% endfor %}
    
{% endblock %}

</article>