{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block header %}
    <h3>权限许可</h3>
{% endblock header %}

{% block content %}
<form action="{% url 'users:mypermissions' %}" method="POST">
    {% csrf_token %}
    {% for entry in entries %}
        <p>{{ entry.entrytitle }}
        {% for each in entry.userperm_set.all %}
            -------  申请人：{{ each.applicant }}<input type="checkbox" name="applicants" value="{{ each.applicant }}" />
        </p>
        {% endfor %}    
    {% empty %}
    <p>No</p>
    {% endfor%}
    <input type="submit" value="允许"/>
</form>
{% endblock content %}