
/**/
.blame {
	
	text-align: center;
	height: 100px;
	
	
	
	
	
	position: relative;
	
	bottom: 0;
	height: 25%;
	}
/*
.blame {
	color: #fff;
	background: #333;
	position:absolute;
	text-align: center;
	font-size: 1.25em;
	padding: 0.5em 0;
	
	overflow: hidden;

}
*/


.related {
	
	
	position: absolute;
	text-align: center;
	font-size: .8em;
	top: 10em;
	right: 0;
	margin: 1em 5em 1em 70%;
	padding: 0.5em 0;
	overflow: hidden;
	
}


/*
.related {
	color: #fff;
	background: #333;
	text-align: center;
	
	top: 5em;
	
	width: 320px;
	
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0.5em 0;
	
}
*/

/*
.related > a {
	vertical-align: top;
	width: calc(100% - 20px);
	max-width: 340px;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
.related a {
	display: inline-block;
	text-align: left;
	margin: 20px auto;
	padding: 10px 20px;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}


.related h3{font-family: "Microsoft YaHei", sans-serif;}
.related a h3 {
	font-weight: 300;
	margin-top: 0.15em;
	color: #fff;
}
*/